img
{
 width:100%;
 height:100;
}
.OurM
{
 font-size:20px;
}
.marquee img
{
  width:100;
  height:200;
  border:5px;
  border-color:RED; 
  padding:5; 
}
body
{
  background-image:none;
  color:#000385;
  font-size:87.5%;
  font-family:Arial, 'Lucida Sans Unicode';
  line-height:1.5;
  text-align:left;
  background-color:white;
}
a
{
  text-decoration:none;
}
a:link, a:visited
{
  color:#CFSC3F;
}
a:hover, a:active
{
  background-color:RED;
  color:#fff;
}
.body
{
 margin:0 auto;
  width:70%;
  clear:both;
}
.mainheader img
{
 width:30%;
 height:auto;
 margin:2% 0;
}
.mainheader nav
{
 background-color:#666;
 height:40px;
 border-radius:5px;
 -moz-border-radius:5px;
 -webkit-border-radius:5px;
}
.mainheader nav ul
{
 list-style:none;
 margin:0 auto;
}
.mainheader nav ul li
{
  float:left;
  display:inline;
}
.mainheader nav a:link, .mainheader nav a:visited
{
 color:#FFF;
 display:inline:block;
 padding:10px 25px;
 height:20px;
}
.mainheader nav a:hover, .mainheader nav a:active,
.mainheader nav .active a:link, .mainheader nav .active a:visited
{
 background-color:RED;
 text-shadow:none;
}
.mainheader nav ul li a
{
 border-radius:5px;
 -moz-border-radius:5px;
 -webkit-border-radius:5px;
}
.mainContent
{
 line-height:25px;
 border-radius:5px;
 -moz-border-radius:5px;
 -webkit-border-radius:5px;
}
.content
{
 width:70%;
 float:left;
}
.topcontent
{
 background-color:#FF0;
 border-radius:5px;
 -moz-border-radius:5px;
 -webkit-border-radius:5px;
  padding:3% 5%;
  margin-top:2%;
}
.bottomcontent
{
 background-color:GREEN;
 border-radius:5px;
 -moz-border-radius:5px;
 -webkit-border-radius:5px;
  padding:3% 5%;
  margin-top:2%; 
} 
.top-sidebar
{
 width:21%;
 float:left;
 background-color:#fff;
 border-radius:5px;
 -moz-border-radius:5px;
 -webkit-border-radius:5px;
 margin:2% 0 2% 3%;
 padding:2% 3%;
}
.post-info
{
 font-style:italic;
 color:#999;
 font-size:90%;
} 
.middle-sidebar
{
 width:21%;
 float:left;
 background-color:#fff;
  border-radius:5px;
 -moz-border-radius:5px;
 -webkit-border-radius:5px;
 margin-left:3%;
 margin-bottom:2%;  
 padding:2% 3%;
}
.bottom-sidebar
{
 width:21%;
 float:left;
 background-color:#fff;
  border-radius:5px;
 -moz-border-radius:5px;
 -webkit-border-radius:5px;
 margin-left:3%;
 margin-bottom:2%;
 padding:2% 3%;
}
.mainFooter
{
 width:100%;
 height:40px;
 float:left;
  border-radius:5px;
 -moz-border-radius:5px;
 -webkit-border-radius:5px;
 background-color:#666;
 margin:2% 0;
}
.mainFoter p
{
 width:92%;
 margin:10px auto;
 color:#FFF;
}
@media only screen and(min-width:150px)and(max-width:800px)
{
    .body
    {
      width:90%;
      font-size:95%;
     }
    .mainheader img
    {
      width:100%;
    }
   .mainheader nav
   {
     background-color:#666;
     height:40px;
     border-radius:5px;
     -moz-border-radius:5px;
     -webkit-border-radius:5px;
   }
   .mainheader nav ul 
   {
    list-style:none;
     margin:0 auto;
   }
   .mainheader nav ul li
   {
     float:left;
     display:inline;
   }
   .mainheader nav a:link, .mainheader nav a:visited
    {   
      color:#FFF;
      display:inline-bolck;
      padding:10px 25px;
      height:20px;
   }
}

/*SECTION*/

section
{
 width:100%;
 height:220px;
 background-color:#2ECC71;
 color:#FFF;
 overflow:hidden;
}
section .container div
{
  margin-top:30px;
  float:left;
}
section .container div .icon
{
 width:60px;
 height:60px;
 background-color:rgba(0,0,0,.5);
 border-radius:50 px;
 text-align:center;
 line-height:59px;
 font-size:1.7em;
 text-shadow: 0 0 1px rgba(0,0,0,.5);
 -webkit-transition:border-radius .7s;
 -moz-transition:border-radius .7s;
 transition:border-radius .7s;
 margin:10px;
}
section .container div .icon:hover{border-radius:10px;}
section .contaier div .description 
{
 width:268 px;
 text-align:left;
 margin-left:12px;
 margin-right:12px;
}
section .container div .description h3{font-size:19px;}
section .container div .description p{font-size:12px;}

/*FOOTER*/

footer
{
 width:100%;
 height:100px;
 background-color:#2C3E50;
}
footer .container .copyright
{
 float:left;
 margin-top:44px;
 font-size:14px;
 color:#EEE;
}
footer .container .copyright a
{
 text-decoration:none;
 color:#EEE;
 -webkit-transition:color .3s;
 -moz-transition:color .3s;
 transition:color .3s;
}
footer .container .copyright a:hover,
footer .container .downmenu ul li a:hover
{
 color:#2B445D;
}
footer .container .downmenu
{
 float:right;
}
footer .container .downmenu ul
{
 list-style:none;
}
footer .li container .downmenu ul li
{
 dislpay:inline-block;
 margin:42px 0 0 15px;
}
footer .li container .downmenu ul li a
{
 text-decoration:none;
 color:#FFF;
 font-size:14px;
 -webkit-transition:color .3s;
 -moz-transition:color .3s;
  transition:color .3s;
}
